/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Roboto", sans-serif;
  border-top: 4px solid #d43b3b;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.main-title {
  text-align: center;
}

.button {
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fafafa;
  background-color: #d43b3b;

  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #9b2b2b;
}

/* OUTPUT */
#output {
  margin-top: 16px;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  list-style: none;
}

li {
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

li:hover {
  background-color: #ececec;
}

li h3 {
  font-size: 20px;
  border-bottom: 2px solid #d43b3b;
}

img {
  width: 128px;
  margin: 16px 0 8px;
}

p {
  font-size: 18px;
}

#output div {
  font-size: 24px;
  width: 440px;

  margin: 0 auto;
  padding: 24px;

  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#output div p {
  margin-bottom: 12px;
}
