<html>
  <head>
    <title>Historia</title>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Rubik", sans-serif;
        color: #212529;
        line-height: 1;
      }
    </style>
  </head>
  <body>
    <h1>História</h1>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aut similique velit, debitis obcaecati provident <br> 
      iste ut totam libero iusto mollitia voluptatem et corrupti maxime! Sunt eum quas at sequi? 🎎
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero cupiditate minus dolor quis magni adipisci <br>
      repellendus obcaecati? Voluptates quibusdam totam saepe dolore. Nemo porro laudantium molestias, dicta <br>
      ratione perferendis maiores. 💎
    </p>
  </body>
</html>